[submodule "Assets/Root/Support/SupportChigadio"]
	path = Assets/Root/Support/SupportChigadio
	url = https://github.com/ChigaDio/SupportChigadio.git
[submodule "Assets/Root/Support/SupportUnityEditorChigadio"]
	path = Assets/Root/Support/SupportUnityEditorChigadio
	url = https://github.com/ChigaDio/SupportUnityEditorChigadio.git
